@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;550;700;900&family=Inter:wght@300;400;600;700;900&family=JetBrains+Mono:wght@400;550;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

/* Custom visual animations & scrollbar rules */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

body {
  font-family: var(--font-sans);
  background-color: #030712;
  color: #f3f4f6;
}

/* Custom glow borders */
.glow-border-indigo {
  box-shadow: 0 0 15px rgba(99, 102, 241, 0.15);
}
